<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr><td>Morning</td> <td> <a href=https://github.com/data-lessons/spreadsheets-socialsci>Data organization in spreadsheets</a></td></tr>
      <tr><td> </td><td><a href=https://github.com/data-lessons/openrefine-socialsci>OpenRefine for data cleaning</a></td></tr>
      <tr><td>Afternoon</td><td><a href=https://github.com/data-lessons/python-socialsci>Introduction to Python</a></td></tr>
      <tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Morning</td> <td><a href=https://github.com/data-lessons/python-socialsci>Continuation of Python: data analysis & visualization</a></td></tr>
      <tr> <td>Afternoon</td><td><a href=https://github.com/data-lessons/sql-socialsci>Data management with SQL</a></td></tr>
      <tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
</div>
